.presentation-page {
    animation: fadein 0.886s;
    .section-wrapper {
        // margin-top: 32px;
        .pages-header-wrapper {
            position: relative;
            // margin-bottom: 40px;
            background-color: #005a80;
            overflow: hidden;
            .bc-wrapper {
              position: relative;
              padding-top: 13px;
              padding-left: 95px;
              z-index: 100;
            }
          }
    }
    &__header {
        position: relative;
        // margin-top: 27px;
        // margin-bottom: 40px;
        padding: 50px 35px;
        padding-top: 34px;
        padding-left: 95px;
        padding-bottom: 24px;
        background-color: #005a80;
        overflow: hidden;
        .title-section {
            color: #fff;
            text-transform: uppercase;
            padding-bottom: 18px;
        }
    }
    &__date-change {
        display: flex;
        list-style-type: none;
        margin-left: -10px;
        padding-left: 0;
    }
    &__date-change-item {
        margin-right: 18px;
        padding: 0px 10px;
        &__a {
            font-size: 18px;
            color: #fff;
            cursor: pointer;
            &:hover {
                color: #fff;
                text-decoration: underline; 
            }
            .date-change-calendar-wrapper {
                display: flex;
                cursor: pointer;
                white-space: nowrap;
            }
        }
    }
    &__sections {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        margin-left: -15px;
        padding-left: 10px;
        z-index: 2;
        cursor: pointer;
    }
    &__section-item {
        margin-right: 18px;
        padding: 5px;
        &:hover {
            // background-color: #fff;
            // .news-page__section-item__a {
            //     color: #005a80;
            // }
        }
        &__a {
            font-size: 24px;
            color: #fff; 
            &:hover {
                color: #fff;
                text-decoration: underline; 
            }
        }
    }
    &__form {
        position: relative;
        margin-top: -32px;
        margin-left: -13px;
        z-index: 2;
        .search-popup__inner-wrapper {
          justify-content: flex-start;
        //   .search-popup__block {
        //     width: 65.7%;
        //   }
        }
      }
    .header-circle {
        top: -172px;
        right: -215px;
        z-index: 1;
    }
    .header-circle__item {
        &:nth-of-type(1) {
            background-color: #0083ab;
        }
        &:nth-of-type(2) {
            background-color: #0078a0;
        }
        &:nth-of-type(3) {
            background-color: #006e94;
        }
        &:nth-of-type(4) {
            background-color: #005f82;
        }
    }
    .breadcrumbs {
        color: #609eb7;
        // text-decoration: underline;
    }
}

.presentation-page__header__form .search-popup__inner-wrapper .search-popup__block {
    width: 65.7%;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }