// @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:300,400');
//@import url('../../fonts/fonts.scss');

@font-face {
  font-family: "Cambria";
  src: url('../../fonts/cambria/cambria.ttf') format("truetype");
  src: url('../../fonts/cambria/subset-Cambria.woff2') format('woff2'),
  url('../../fonts/cambria/subset-Cambria.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/roboto/Roboto-Bold.woff2') format('woff2'),
      url('../../fonts/roboto/Roboto-Bold.ttf') format("truetype"),
      url('../../fonts/roboto/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../../fonts/roboto/RobotoCondensed-Italic.woff2') format('woff2'),
  url('../../fonts/roboto/RobotoCondensed-Italic.ttf') format("truetype"),
      url('../../fonts/roboto/RobotoCondensed-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../../fonts/roboto/RobotoCondensed-Regular.woff2') format('woff2'),
  url('../../fonts/roboto/RobotoCondensed-Regular.ttf') format("truetype"),
      url('../../fonts/roboto/RobotoCondensed-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/roboto/Roboto-Medium.woff2') format('woff2'),
  url('../../fonts/roboto/Roboto-Medium.ttf') format("truetype"),
      url('../../fonts/roboto/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../../fonts/roboto/RobotoCondensed-Light.woff2') format('woff2'),
  url('../../fonts/roboto/RobotoCondensed-Light.ttf') format("truetype"),
      url('../../fonts/roboto/RobotoCondensed-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/roboto/Roboto-Italic.woff2') format('woff2'),
  url('../../fonts/roboto/Roboto-Italic.ttf') format("truetype"),
      url('../../fonts/roboto/Roboto-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/roboto/Roboto-Light.woff2') format('woff2'),
  url('../../fonts/roboto/Roboto-Light.ttf') format("truetype"),
      url('../../fonts/roboto/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/roboto/Roboto-Regular.woff2') format('woff2'),
  url('../../fonts/roboto/Roboto-Regular.ttf') format("truetype"),
      url('../../fonts/roboto/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../../fonts/roboto/RobotoCondensed-Bold.woff2') format('woff2'),
  url('../../fonts/roboto/RobotoCondensed-Bold.ttf') format("truetype"),
      url('../../fonts/roboto/RobotoCondensed-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
