.page-title-navblock {
  padding: 30px 10px 30px 85px;
  color: #fff;
  position: relative;
  margin-bottom: 40px;
  font-size: 18px;
  background-position: calc(100% + 462px) -338px;
  background-repeat: no-repeat;
  /*.header-circle {
    top: calc(50% - 233px);
    right: -300px;
    &__item {
      &:nth-of-type(1) {
        background-color: rgba(#fff, .2);
      }
      &:nth-of-type(2) {
        background-color: rgba(#fff, .2);
      }
      &:nth-of-type(3) {
        background-color: rgba(#fff, .2);
      }
      &:nth-of-type(4) {
        background-color: rgba(#fff, .2);
      }
    }
  }*/

  &__breadcrumbs-row {
    margin-bottom: 10px;
    color: #fff;

    a {
      color: inherit;
      display: inline-block;
      opacity: .8;
    }
  }

  &__delimiter {
    display: inline-block;
    margin: 0 10px;
  }

  &__title {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__links-row {
    margin: 30px 0 40px;
    font-size: 20px;
    font-weight: 400;
    margin-left: -15px;
  }
  &__links-item {
    a {
      color: inherit;
      display: inline-block;
      margin-right: 15px;
      padding: 0 15px;
      margin-bottom: 15px;
      &.active {
        cursor: auto;
        pointer-events: none;
        background-color: #1789b9;
        padding: 0 15px;
      }
      &.active-link {
        cursor: pointer;
        pointer-events: auto;
        background-color: #1789b9;
        padding: 0 15px;
      }
    }
  }
}