.administration-page {
  padding-bottom: 100px;
}

.administration-block {
  max-width: 260px;
  margin-right: 2.5%;
  margin-left: 2.5%;
  margin-bottom: 40px;
  //&:nth-of-type(4n+4) {
  //  margin-right: 0;
  //}
  &__img {
    width: 100%;
    max-height: 260px;
    overflow: hidden;
    img{
      width: 100%;
      height: 100%;
    }
  }
  &__info {
    margin-top: 12px;
    //border-left: 4px solid #29b9eb;
  }
  &__info-name {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.1;
  }
  &__info-text {
    margin-top: 5px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
  }
  &__documents {
    margin-top: 5px;
  }
  &__text {
    font-size: 18px;
    font-weight: 700;
  }
  &__line {
    height: 1px;
    margin-top: 57px;
    margin-bottom: 57px;
    border: 1px solid #ecf0f1;
  }
}