@import "../../../layout/Layout/variables";

.information {
  &__content {

    font-size: 20px;
    font-weight: 300;
    margin-bottom: 40px;

    a {
      color: inherit;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
  &__text {
    font-family: $roboto;
    font-size: 18px;
  }
  .react-select-container {
    font-size: 18px;
  }
  .strong {
    font-weight: 700;
  }
  .underline {
    text-decoration: underline;
  }
}