.project-card {
  &__title {
    display: inline-block;
    vertical-align: middle;
    // width: 630px;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    margin-left: 17px;
  }
}
